NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SHOWCASE_BOT_SHARED_SECRET=
SHOWCASE_RATE_LIMIT_MAX_REQUESTS=8
SHOWCASE_RATE_LIMIT_WINDOW_SECONDS=3600
SHOWCASE_RATE_LIMIT_BLOCK_SECONDS=3600
